/* ======= Blog CSS ======= */
.blog-area{
  background-color: $bg_gray;
  .blogs{
    margin-top: 20px;
    .single-blog{
        width: 380px;
        float: left;
        margin-right: 30px;
        border: 1px solid $border_gray;
        overflow: hidden;
        &:last-child {
            margin-right: 0;
          }
        &:hover{
            .blog-img{
                transform: scale(1.1);
            }
        }
        .blog-img {
            background-position: center;
            background-size: cover;
            height: 250px;
            transition: 0.3s;
          }
        .blog-content {
            padding: 20px;
            background-color: $bg_gray;
            text-align: left;
            h4 {
                font-size: 22px;
              }
              p {
                margin: 20px 0;
              }
          }
    }
}
}



 