/* ======== CTA CSS ======== */
.cta{
    h4 {
        font-size: 45px;
        text-transform: uppercase;
        color: #fff;
      }
    p {
        color: #fff;
        padding: 20px 0;
        max-width: 700px;
        margin: 0 auto;
      }
}